/**
 * slimechat Theme based on Code7
 *
 * @author: Nick Fox
 * @description: Matrix like theme with black background and green text for limechat
 */

html {
  font-family: 'Menlo'; /* Monaco is slightly taller but more compact */
  font-size: 10pt;
  background-color: #000;
  color: #0f0;
}
body {}

.url { color: #0cc; }  /* nice blue */
.address {}
.highlight {
  font-size: 100%;
  font-weight: normal;
  padding: 0 3px;
  color: #f00;
}

.line {}
.line[alternate=even] {}
.line[alternate=odd] {}
.line[highlight=true] {}

/* Handle the overload of non important messages by ignoring them */
.line[type=join], .line[type=part], .line[type=quit] { display: none; }

.time { color: #3387bc; }
.place { color: #3387bc; }

.sender[type=normal] { color: #3e87e3; }
.sender[type=myself] { color: #89bdff; }

.message[type=privmsg] {}
.message[type=notice] { color: #0f0; }
.message[type=action] { color: #0f0;}

.message[type=system], .message[type=join], .message[type=part], .message[type=kick],
.message[type=quit], .message[type=kill], .message[type=nick], .message[type=mode],
.message[type=topic], .message[type=invite], .message[type=wallops] {
  color: #65b042;
}
.message[type=reply] { color: #509036; }

.message[type=error], .message[type=error_reply] { color: #f67b37; }
.message[type=dcc_send_send] { color: #c5af75; }
.message[type=dcc_send_receive] { color: #f9ee98; }
.message[type=debug_send] { color: #8996a8; }
.message[type=debug_receive] { color: #afc4db; }
